{% extends 'index.html' %}





{% block body  %}
<body>
	<center>
		<h2 class="heading-section pb-5" >Forget password email varification</h2>
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-8">
                <form action="#" method="POST"  onsubmit="return validateForm()"  data-parsley-validate="">

                    <div class="form-group">
						<input type="email" class="form-control" placeholder="Email Address"
						 id="email" name="email" autocomplete="off" v-model="email"
                         data-parsley-required-message="Enter email only"
						 data-parsley-error-message="Enter proper email id" required="">
					</div>


					<div >
						<button type="submit"  class="btn btn-primary submit px-3">Submit</button>
					</div>
                    
				</form>
				
			</div>
		</div>
</body>
{% endblock  %}