{% extends 'home_temp.html' %}


{% block body %}

<div class="row">
    <div class="col-md-5">
        <img class="card-img-bottom-fluid" src ="{{ url_for('static', filename='Assets/card.png') }}" style="width:70%; height:100%;">
    </div>
    <div class="col-md-7">
        <h5>Hello everyone i am</h5>
        <h1>sheeji</h1>
        <h1>soni</h1>
        <h4>Junior Python+Flask Developer</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate reprehenderit odit non! Id suscipit ad cupiditate eligendi corporis sapiente est! Repudiandae corrupti, debitis cumque aliquid exercitationem ad dolorum fugit laudantium quidem architecto aperiam corporis asperiores quia sunt pariatur rerum recusandae illo. Vitae libero expedita repudiandae porro error in doloribus dolorem?
        </p>
    </div>
</div>


{% endblock  %}

